.why-choose-us-container {
    margin-top: 20px;
}

.text-center.text-center {
    text-align: center;
}

.why-choose-title {
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
    font-size: 38px;
}

.separator {
    display: block;
    width: 60px;
    height: 5px;
    margin: 15px auto;
    background-color: #ccc;
    position: relative;
    border: 1px solid #ccc;
}

.separator:after {
    width: 30px;
    height: 5px;
    background: #333;
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
}

.lead {
    font-weight: 340;
    margin-left: 17%;
    margin-right: 17%;
}

#paragrap {
    position: relative;
    min-height: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: justify;
    font-feature-settings: "tnum";
    font-size: 15px;
    font-variant-caps: normal;
}


/* Meet the team css */

.the-right-team {
    background-color: #fafafa;
    margin-top: 2%;
}

.arrow i:before {
    color: #fafafa;
    text-shadow: 0 -1px 1px #e9e9e9;
}

.arrow i {
    font-size: 96px;
    position: absolute;
    line-height: 1;
    z-index: 2;
    left: 50%;
    margin-top: -65px;
}

.fa {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.fa-caret-up:before {
    content: "\F0D8";
}

.theme-tab {
    background-color: #757575;
}

.ant-tabs-content-holder {
    background-color: #fafafa;
}

.why-choose-us-container {
    margin-bottom: 3%;
}

.ant-tabs-nav-list {
    background-color: #757575;
    height: 100%;
    width: 200px;
}

.list-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-weight: 700;
}

.ant-tabs-content-holder {
    padding: 1%;
}

.list-content {
    position: relative;
    min-height: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}

.list-image {
    width: 100%;
}

.team-pane {
    margin-bottom: 4%;
}

.carousel-autoplay {
    width: 100%;
    padding: 2%;
    background-color: #fafafa;
}

.quote-string {
    width: 90%;
    display: inline-block;
    margin: 0;
    font-size: 16px;
    text-align: justify;
    position: relative;
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.steve-jobs {
    margin-top: 40px;
}

.endWC {
    background: #F2F2F2;
    margin-top: 50px;
    height: 130px;
    margin-bottom: 10px;
}

.menuWC h3 {
    text-align: center;
}

.textEndWC {
    border-left: none;
    display: block;
    font-size: 16px;
    position: relative;
    margin: 50px 25px;
    color: #595959!important;
}